# MkDocs and theme
mkdocs>=1.5.3
mkdocs-material>=9.5.0

# Plugins
mkdocs-awesome-pages-plugin>=2.9.2
mkdocs-minify-plugin>=0.7.2
mkdocs-git-revision-date-localized-plugin>=1.2.2
mkdocs-literate-nav>=0.6.1

# Extensions
pymdown-extensions>=10.7
markdown-include>=0.8.1

# Code highlighting
pygments>=2.17.0
